{% extends "base.html" %}
{% block content %}
  
<div class="mt-3">
    <div id="alert-box"></div>
    <div id="img-box"></div>
    <form id='p_form' autocomplete="off">
   
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    const alertbox = document.getElementById('alert-box')
    const imgbox = document.getElementById('img-box')
    const form = document.getElementById('p_form')
    console.log(form)
    const name = document.getElementById('id_name')
    const description = document.getElementById('id_description')
    const image = document.getElementById('id_image')
    const csrf =document.getElementsByName('csrfmiddlewaretoken')
    
    const handleAlerts = (type,text) =>{
        alertbox.innerHTML = `<div class="alert alert-${type}" role="alert">
                                    ${text}
                                </div>`
    }
    const url =""
    image.addEventListener('change',()=>{
        const img_data = image.files[0]
        const url = URL.createObjectURL(img_data)
        console.log(url)
        imgbox.innerHTML = `<img src ="${'ur'}" width="100%" >`
    })

    form.addEventListener('submit',e=>{
        e.preventDefault()
        const fd = new FormData()
        fd.append('csrfmiddlewaretoken',csrf[0].value)
        fd.append('name',name.value)
        fd.append('description',description.value)
        fd.append('image',image.files[0])
        console.log(fd)
        $.ajax({
            type:'POST',
            url:url,
            enctype:'multipart/form-data',
            data:fd,
            success:function(response){
                console.log('suc')
                const stxt = `successfully saved${response.name}`
                handleAlerts('success',stxt)
                setTimeout(()=>{
                alertbox.innerHTML=''
                imgbox.innerHTML=''
                name.value=''
                description.value=''
                image.value=''
                },2000)
                console.log(response)
            },
            error:function(response){
                handleAlerts('danger','ups smth went worng')
                console.log('error')
            },
            cache:false,
            contentType:false,
            processData:false
        })
        
    })
</script>
  
{% endblock %}